// Required global styles (must load first)
// <Insert theme here if needed>
@import '@chewy/kib-normalize/dist/kib-normalize.css';

// Chirp styles goes here
@import '@chewy/kib-carousels-styles/dist/styles/kib-carousel.css';
@import '@chewy/kib-controls-styles/dist/styles/kib-button-new.css';
@import '@chewy/kib-content-groups-styles/dist/styles/kib-section-heading.css';
@import '@chewy/kib-layout-styles/dist/styles/kib-container.css';
@import '@chewy/kib-overlays-styles/dist/styles/kib-modal.css';
@import '@chewy/kib-product-styles/dist/styles/kib-product-card.css';

